.grass-green-decal-top-right-and-bottom-right-and-top-left{
    background: url(/resources/images/grass-green.png) 0px -768px;
}
.grass-green-decal-top-right-and-bottom-left-and-top-left{
    background: url(/resources/images/grass-green.png) 0px -704px;
}
.grass-green-decal-bottom-right-and-bottom-left-and-top-left{
    background: url(/resources/images/grass-green.png) 0px -640px;
}
.grass-green-decal-top-right-and-bottom-left{
    background: url(/resources/images/grass-green.png) 0px -576px;
}
.grass-green-decal-top-right-and-top-left{
    background: url(/resources/images/grass-green.png) 0px -512px;
}
.grass-green-decal-top-right-and-bottom-right{
    background: url(/resources/images/grass-green.png) 0px -448px;
}
.grass-green-decal-bottom-right-and-bottom-left{
    background: url(/resources/images/grass-green.png) 0px 0px;
}
.grass-green-decal-top-left-and-bottom-left{
    background: url(/resources/images/grass-green.png) 0px -320px;
}

.grass-green-decal-top-left{
    background: url(/resources/images/grass-green.png) 0px -256px;
}
.grass-green-decal-top-right{
    background: url(/resources/images/grass-green.png) 0px -192px;
}
.grass-green-decal-bottom-left{
	background: url(/resources/images/grass-green.png) 0px -64px;
}
.grass-green-decal-bottom-right{
    background: url(/resources/images/grass-green.png) 0px -128px;
}
.grass-green-plan{
    background: url(/resources/images/grass-green.png) 0px 0px;
}
.block{
	width: 64px;  
    height: 64px; 
}
.map-view{
    position: fixed;
    top: 0;
    left: 2px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: black;
}
.map{
    min-width: 4000px;
    min-height: 4000px;
	position: relative;
    overflow: hidden;
    background: white;
    left: -2000px;
    top: -2000px;
    border-radius: 8px;
}

.tool-bar-view{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 95px;
    padding-left: 1px;
    border: 1px solid black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: black;
}

.tool-bar{
    width: 100%;
    height: 100%;
}

.tool-item{
	z-index: 1;
}

.action-menu-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 0;
}

.action-menu{
    width: 100px;
    margin-left: auto;  
    margin-right:auto;  
    background: black;
    height: 32px;
    border-radius: 8px;
    color: white;
    font-size: 34px;
    padding:0;
    margin-top: 0;
}

.action-menu li{
  cursor: pointer;
  list-style-type: none;
  float: left;
  padding-right: 15px;
  position: relative;
  top: 1px;
}

.selected{
    box-shadow: inset 0 0 32px black;
    border-radius: 8px;
}
    


#connecting{
    padding: 100px; 
    font-size: 24px;
    /* lets us predownload the image*/
    background-image: url(/resources/images/grass-green.png);
    background-repeat: no-repeat;
    background-position: -1000px -2000px;
}

#connecting .information{
    padding-left: 25px; 
    font-size: 20px;
}

